[DEFAULT]
blast_options=-e 1e-3
chunksize=2
dump_frequency=1
n_chunks=5
filter=

[test]
port=5679
host=
sequences=test-data/seq-db.fa
store_db=test-output.db
blastdb=test-data/seq-db.fa
program=blastn

[test_filter]
port=5679
host=
sequences=test-data/seq-db.fa
store_db=test-output.db
blastdb=test-data/seq-db.fa
program=blastn
filter=filters.parse_blast
