[DEFAULT]
blast_options=-e 1e-3
chunksize=1
dump_frequency=3
n_chunks=20

[test]
port=5679
host=
sequences=/scratch/titus/ctene/refseq/top500.fa
store_db=top500.db
blastdb=/home/ctb/lustre/db/animal-refseq.protein.faa
program=blastx
